p Dear #{name}, 

p We have just switched you to: 
P GNE 12 month fixed V1 by Green Network Energy

p Estimated annual cost:  £ 1102
p Estimated annual savings:    £ 584

p Please find attached:

p Information required by regulation.
P Please check the details carefully and if any are incorrect, please email contact@thelabrador.co.uk asap. 
p Please note that the Estimated use section below represents information required by regulation. These use UK averages rather than your actual usage given Labrador is the only service in the market that can provide a more bespoke service. For your personal information, please always check your Labrador account.
p Cancellation form If you change your mind and wish to cancel this switch, you can do so in the next 14 days by email, letter or telephone, or by printing, completing and sending through the cancellation form.

P Please check out our FAQs here or contact us if you have any queries: contact@thelabrador.co.uk.

P You can also update your Switching Preferences here.

P Best, The Labrador Team
